#logo{
    margin: 1%;
    /* border: solid red 1px; */
}
textarea{
    /* resize: none;
    border: solid pink 1px; */
}

/* textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
} */

body{
    margin: 0 5%;
    background-color: #E5E5E5;
    width: 90%;
    border: solid red 1px;
    box-sizing: border-box;
}

#caixa{
    position: relative;
    width: 96%;
    margin: 0 2%;
    
    box-sizing: border-box;
}

/* div */
#texto{
    border: solid red 1px;
    margin: 1%;
    box-sizing: border-box;
    
}

/* textarea */
#msg{
    background-color: transparent;
    border: none;
    width: 1000px;
    height: 600px;
    font-size: 36px;
    margin-left: 10%;
    
}


/* textarea */
#res{
    width: 300px;
    height: 700px;
    font-size: 36px;
    margin: 5% 5% 5% 5%; 
    background-color: transparent;
    /* border: none; */
    
}

/* div */
#resposta{
    width: 344px;
    height: 820px;
    border-radius: 32px;
    background-color: white;
    position: absolute;
    right: 1%;
    top: 0;
    z-index: -1;
}

#botao{
    box-sizing: border-box;
    margin: 0 5%;
}

button{
    padding: 24px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: solid #0A3871 1px;
}

#codificar{
    margin: 0 0 0 5%;
    background-color: #0A3871;
    color: #D8DFE8;
    font-size: 16px;
}

#decodificar{
    margin: 0 0 0 5%;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 16px;
    border: solid #0A3871 1px;
}

#copiar{
    background-color: #fff;
    border: solid #0A3871 1px;
    margin: 0 3%;
    font-size: 16px;
    color: #0A3871;
}

#imgRes{
    width: 250px;
}

#conteudoAnterior{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    width: 250px;
    text-align: center;
    position: absolute;
    right: 3.5%;
    top:30%;
    border: solid red 1px;
}

#p1{
    font-weight:700;
    font-size: 24px;
}

#p2{
    font-weight:400;
    font-size: 16px;
}

@media (max-width: 1800px) {
    #msg{
        width: 700px;
        height: 600px;
    }
}
/* ---------------------------------- */
@media (max-width:1500px) {
    #msg{
        width: 500px;
        height: 600px;
    }

    button{
        width: 150px;
        height: 67px;
        border: solid #0A3871 1px;
    }

    #copiar{
        position: absolute;
        right: 25%;
        top: 87%;
      
    }
    #imgRes{
        width: 250px;
    }

    #conteudoAnterior{
        width: 250px;
        right: 5.5%;
        top:30%;
    }

    #res{
        width: 300px;
        height: 600px;
    }

    #resposta{
        width: 344px;
        height: 730px;
    }
    
}

/* -------------------------------------- */

@media (max-width:1200px){
    #msg{
        margin: 0 20%;
    }
    
    #resposta{
        position: relative;
        width: 700px;
        height: 300px;
        margin: 2% auto;
    }

    #copiar{
        top:75%;
        left: 70%;
    }
    #res{
        width: 400px;
        height: 240px;
    }

    #imgRes{
        width: 150px;
    }
    #conteudoAnterior{
        top:70%;
        left: 20%;
    }
    #p1{
        font-weight:700;
        font-size: 16px;
    }
    
    #p2{
        font-weight:400;
        font-size: 13px;
    }
    #botao{
        margin: 0 25%;
    }
}

@media (max-width:900px){
    #msg{
        margin: 0 15%;
        width: 500px;
        height: 600px;
    }

    #conteudoAnterior{
        top:75%;
        left: 10%;
    }

    #codificar{
       position: absolute;
       left: 25%;
       top: 55%;
    }
    
    #decodificar{
        position: absolute;
        top: 62%;
    }

    button{
        width: 235px;
        border: solid #0A3871 1px;
    
    }
    #botao{
        margin: 30% 25%;
    }

    #copiar{
        left: 60%;
        top: 70%;
      
    }

    #res{
        width: 350px;
        height: 235px;
    }
}

@media (max-width:750px){
    #msg{
        width: 450px;
        height: 350px;
    }
    #res{
        width: 450px;
        margin: 5% 4%;
    }

    #resposta{
        width: 500px;
        height: 500px;
        margin: 2% auto;
    }
    #codificar{
        left: 25.5%;
        top: 35%;
     }
     
     #decodificar{
         top: 43%;
     }
     #conteudoAnterior{
        top:60%;
        left: 30%;
    }

     #copiar{
        top: 80%;
        left: 25%;
       
     }
}